<div class="container mt-4">
	<div class="row">
		<div class="col-sm">
			<h3 class="font-bold">Bashboard</h3>
		</div>
		<div class="col-sm">
			<div align="right">
				<!--  -->
			</div>
		</div>
	</div>
	<hr>
	<div class="container mx-auto" style="width: 80%; margin-top: 5%; margin-bottom: 5%">
		<div class="row">
			<div class="col-sm">
				<div class="card card-body">
					<div class="row mb-4">
						<div class="col-sm"><h3>Classes</h3></div>
						<div class="col-sm" align="right"><h3>{{ countRoom }}</h3></div>
					</div>
					<div align="right"><button class="btn btn-sm btn-secondary" routerLink="/sys/rooms">Voir la liste</button></div>
				</div>
			</div>
			<div class="col-sm">
				<div class="card card-body">
					<div class="row mb-4">
						<div class="col-sm"><h3>Elèves</h3></div>
						<div class="col-sm" align="right"><h3>{{ countStudent }}</h3></div>
					</div>
					<div align="right"><button class="btn btn-sm btn-secondary" routerLink="/sys/students">Voir la liste</button></div>
				</div>
			</div>
		</div>
	</div>
</div>