<div class="container mt-4">
	<div class="row">
		<div class="col-sm">
			<h3 class="font-bold">Liste des classes</h3>
		</div>
		<div class="col-sm">
			<div align="right">
				<button class="btn btn-sm btn-primary" (click)="goToSingle()">Ajouter une classe</button>
			</div>
		</div>
	</div>
	<hr>
	<div class="m-2">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>id</th>
					<th>classe</th>
					<th align="right"></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let room of rooms">
					<td>{{ room.getId() }}</td>
					<td>{{ room.getName() }}</td>
					<td align="right">
						<button class="btn btn-sm btn-primary" (click)="goToSingle(room)">Editer</button>
						<button class="btn btn-sm btn-danger" style="margin-left: 10px" (click)="removeRoom(room)">Supprimer</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>